*,
*::before,
*::after
{
    box-sizing: border-box;
}

body, html
{
    font-family: "poppins", sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 12pt;
    font-weight: 400;
    color: black;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: mediumorchid;
    margin: 0;
    padding: 0;
}

div
{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    min-width: 400px;
    min-height: 250px;
    max-width: 400px;
    max-height: 400px;
    background: linear-gradient(35deg, white 0%, white 84.7%, mediumorchid 85%, mediumorchid 91%, white 91.3%);
    box-shadow: 0 10px 60px 0 darkviolet, inset 0px -10px 17px 2px mediumorchid;
}